#header {
    position: relative;
    color: white;
    border-bottom: 1px solid grey;
    background-color: white; 
}

h1 {
    display:inline-block;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    color: white;
    text-align: center;
    background-color:#4aaaa5;
    padding: 20px;
    margin: 0;

}

h2 {
    color: #4aaaa5; 
    margin-left: 25px;
    padding: 5px;
}

hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    }

a {
    color: gray;
    text-decoration: none;

}

    navbar {
        margin: 500px; 
    }


body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #efeee7;
    color: #777777;
    margin: 0;
    padding: 0;

    }

    .form-submit-button {

        background: #0066A2;
        
        color: white;
        
        border-style: outset;
        
        border-color: #0066A2;
        
        height: 50px;
        
        width: 100px;
        
        font: bold 15px arial, sans-serif;
        
        text-shadow:none;
        
        }

    .boxed {
        border: 1px white;
        background-color: white;
        margin: 50px;
      }

p {
    line-height: 2.0
}

.wpforms-form button[type=submit] {
	background-color: #024488 !important;
	border-color: #024488 !important;
	color: #fff !important
}

.wpforms-form button[type=submit]:hover {
	background-color: #022B57 !important;
}

footer {
    color: white;
    border-top: 8px solid #4aaaa5;
    background-color: #666666; 
    padding-bottom: 0px;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}